* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(200deg, #b362d9, #04d7dd);
}

a {
    display: inline-block;
    padding: 30px 50px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
    background: #2a4a70;
    box-shadow: 0px 4px 8px rgba(255, 117, 140, 0.4);
    margin: 0 10px;
}

a:hover {
    background: linear-gradient(90deg, #2a4a70, #3269a8);
    transform: translateY(-2px);
}

.form-container {
    background-color: #fff;
    padding: 40px 30px;
    width: 360px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form label {
    font-size: 14px;
    color: #666;
    display: block;
    text-align: left;
    margin-top: 15px;
}

form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

form input::placeholder {
    color: #aaa;
}

.error-border {
    border-color: red !important;
}

.error {
    font-size: 12px;
    color: red;
    display: none;
    margin-top: 5px;
    text-align: left;
}

form button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #ff7eb3, #ff758c);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: linear-gradient(90deg, #ff758c, #ff7eb3);
}

.result-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Заголовок */
.result-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Стилі для списку */
.result-container ul {
    list-style-type: none;
    padding: 0;
}

.result-container li {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

.result-container li {
    font-weight: bold;
    color: #333;
}

.result-container li span {
    font-weight: normal;
    color: #555;
}

.result-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-container li:last-child {
    border-bottom: none;
}

